.search-container .input-group {
  display: table;
  width: 100%;
}

.search-container .input-group .column {
  display: table-cell;
  vertical-align: middle;
}

.search-container .input-group .column select,
.search-container .input-group .column input,
.search-container .input-group .column .btn {
  height: 4.5rem;
}

.search-container .input-group input[type=text].form-control {
  margin-bottom: 0;
  border-radius: 0;
}

.search-container .input-group .column .btn {
  box-shadow: none;
  display: flex;
}

.search-container .input-group .column .btn i {
  font-size: 1.8rem;
}

.search-container .input-group .column .btn i,
.search-container .input-group .column .btn span {
  margin: auto;
}

.search-container .input-group .column:nth-of-type(1) {
  width: 20%;
}

.search-container .input-group .column:nth-of-type(1) .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} 

.search-container .input-group .column:nth-of-type(2) {
  width: 70%;
}

.search-container .input-group .column:nth-of-type(3) {
  width: 10%;
}

.search-container .input-group .column:nth-of-type(3) .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-container .input-group .dropdown-content li > a,
.search-container .input-group .dropdown-content li > span {
  color: #03a9f4;
}

.search-container .input-group .dropdown-content li > a:hover {
  text-decoration: none;
}

.search-container .input-group .column select {
  background-color: #e0e0e0;
  padding: 5px 20px;
  border: 1px solid #9e9e9e;
  color: #616161;
}

.search-container .input-group .column select:focus {
  border: 1px solid #03a9f4;
}

h3.results-sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
}


.button-container {
  display: flex;
  margin-top: 25px;
}

.button-container .btn{
  flex: 0 0 50px;
  margin-right: 25px;
}


.btn.round {
  border-radius: 50%;
  padding: 0;
  display: flex;
  width: 50px;
  height: 50px;

}

.btn.round .fa {
  margin: auto;
  font-size: 1.8rem;
  flex: 1;
}

.global-social-login .row {
  margin-bottom: 0;
}

.secondary-links {
  display: table;
}

.secondary-links .column{
  display: table-cell;
  vertical-align: middle;
}


.secondary-links img {
  margin-right: 10px;
}

.md-logo-header {
  height: 30px;
}

.md-logo-miamidade {
  vertical-align: super;
}

.social-login-container {
  line-height: 35px;
}

.log-in-out {
  margin-right: 0;
  margin-left: 50px;
}


.global-social-login ul.inline-list {
  font-size: 13px;
  margin: 0 0 0 20px;
}

.global-social-login ul.inline-list,
.global-social-login ul.inline-list li {
  display: inline-block;
}

.global-social-login ul.inline-list li {
  margin-right: 20px;
}

/*--Tooltip --*/
.material-tooltip {
  font-size: 14px;
}